:root {
    --font-family: "Merriweather", sans-serif;
    --second-family: "PTSans", sans-serif;
}
#graf {
    color: #e99393;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font-family);
    padding: 5px;
    background-color: #f0f0f0;
    color: #000;
}

.container {
    width: 1400px;
    margin: auto;
}

.mb20 {
    margin-bottom: 20px;
}

.header,
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

ul li + li {
    padding-top: 10px;
}

.form {
    &__title {
        text-align: center;
    }
}
label {
    display: block;
    margin-bottom: 20px;
}
.btn {
    padding: 10px;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    height: 30px;
    // padding: 5px;
}

hr {
    margin-bottom: 20px;
}

.forms {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__fieldset {
        & input,
        textarea {
            width: 100%;
        }
        & label {
            margin-bottom: 0;
        }
        padding: 15px;
    }
}
th {
    width: 130px;
}
td {
    padding: 5px;
}
.opisanie {
    width: 250px;
}

// задания CSS

.lesson-css__link {
    color: #8b0000;
}

#title {
    font-size: 36px;
    color: purple;
}

.lesson-css ul a {
    color: #228b22;
}

.lesson-css p a {
    color: #ff0000;
}

p {
    color: gray;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
}

h1 {
    font-size: 36px;
    line-height: 1.8;
}

.paragraf {
    color: green;
}

// перехватываем стиль от body
// .lesson-css p {
//     color: #e210e2;
// }

.lesson-css a:hover {
    color: #add8e6;
    cursor: progress;
}

#title::before {
    content: "*";
}

input {
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

input:focus {
    // outline: 1px solid #ff0000;
    outline-color: transparent;
    border: 2px solid green;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #add8e6;
}

.button:active {
    background-color: #00008b;
    transform: scale(0.98);
    color: red;
}

.p-padding {
    display: inline-block;
    padding-left: 30px;
    padding-right: 55px;
}

.h1-padding {
    padding-left: 130px;
    padding-right: 155px;
    text-align: center;

    text-shadow: 5px 6px 20px lightcoral;
}

.h1-padding + .p-padding {
    text-align: justify;
    text-transform: lowercase;
    text-shadow:
        1px 1px 2px #000,
        2px 2px 5px #555,
        3px 3px 7px #777;
}

.under {
    text-decoration: underline;
    text-shadow: 5px 9px 50px rgba($color: #10d119, $alpha: 0.5);
}
