:root {
  --font-family: "Merriweather", sans-serif;
  --second-family: "PTSans", sans-serif;
}

#graf {
  color: #e99393;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: var(--font-family);
  padding: 5px;
  background-color: #f0f0f0;
  color: #000;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.mb20 {
  margin-bottom: 20px;
}

.none {
  display: none;
}

.header,
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

ul li + li {
  padding-top: 10px;
}

.form__title {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

.btn {
  padding: 10px;
}

.check {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  height: 30px;
}

hr {
  margin-bottom: 20px;
}

.forms {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forms__fieldset {
  padding: 15px;
}
.forms__fieldset input,
.forms__fieldset textarea {
  width: 100%;
}
.forms__fieldset label {
  margin-bottom: 0;
}

th {
  width: 130px;
}

td {
  padding: 5px;
}

.opisanie {
  width: 250px;
}

.lesson-css__link {
  color: #8b0000;
}

#title {
  font-size: 36px;
  color: purple;
}

.lesson-css ul a {
  color: #228b22;
}

.lesson-css p a {
  color: #ff0000;
}

p {
  color: gray;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 0.9;
}

h1 {
  font-size: 36px;
  line-height: 1.8;
}

.paragraf {
  color: green;
}

.lesson-css a:hover {
  color: #add8e6;
  cursor: progress;
}

#title::before {
  content: "*";
}

input {
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
}

input:focus {
  outline-color: transparent;
  border: 2px solid green;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #add8e6;
}

.button:active {
  background-color: #00008b;
  transform: scale(0.98);
  color: red;
}

.p-padding {
  display: inline-block;
  padding-left: 30px;
  padding-right: 55px;
}

.h1-padding {
  display: inline-block;
  background-color: #228b22;
  background-clip: content-box;
  border: 1px solid red;
  padding: 10px 30px 30px 55px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 5px 6px 20px lightcoral;
}

.h1-padding + .p-padding {
  text-align: justify;
  text-transform: lowercase;
  text-shadow: 1px 1px 2px #000, 2px 2px 5px #555, 3px 3px 7px #777;
}

.under {
  text-decoration: underline;
  text-shadow: 5px 9px 50px rgba(16, 209, 25, 0.5);
}

.lesson-css__link {
  display: block;
  border: 1px solid red;
  padding-left: 15px;
  padding-right: 50px;
  background-color: #6c8ff0;
  background-clip: content-box;
}

.block {
  width: 500px;
  border: 1px solid red;
}

.box {
  display: block;
  width: 100px;
  height: auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box1 {
  background-color: #10d119;
  width: 60%;
}

.box2 {
  background-color: #d15710;
  width: 50%;
}

.box3 {
  background-color: #6410d1;
  width: 40%;
}

.box4 {
  background-color: #d110d1;
  width: 30%;
}

.flex-boxes {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.flex-center {
  height: 800px;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-wrap: nowrap;
}

.flex-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.flex-box1 {
  background-color: #6410d1;
}

.flex-box2 {
  background-color: #d16d10;
}

.flex-box3 {
  background-color: #10d120;
}

.flex-box4 {
  background-color: #d11040;
}

.flex-box5 {
  background-color: #1023d1;
}

.flex-box6 {
  background-color: #10cbd1;
}

.flex-box7 {
  background-color: #aed110;
}

.flex-box8 {
  background-color: #1084d1;
}

.grid-container {
  display: grid;
  grid-template-columns: [col] repeat(3, auto);
}

.grid-box {
  min-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.grid-box1 {
  background-color: #6410d1;
  grid-column: span 3;
}

.grid-box2 {
  background-color: #d16d10;
  grid-column: col 1/3;
}

.grid-box3 {
  background-color: #10d120;
}

.grid-box4 {
  background-color: #d11040;
}

.grid-box5 {
  background-color: #1023d1;
}

.grid-box6 {
  background-color: #10cbd1;
}

.positions {
  position: relative;
  border: 1px solid red;
  height: 750px;
}

.position-box {
  width: 160px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.position-box1 {
  background-color: #6410d1;
}

.position-box2 {
  background-color: #d16d10;
  position: relative;
  top: -25px;
  left: 50px;
}

.position-box3 {
  background-color: #10d120;
  position: absolute;
  top: 175px;
  left: 250px;
}

.position-box4 {
  background-color: #d11040;
  position: fixed;
  bottom: 0;
  right: 0;
}

.position-box5 {
  background-color: #9ed110;
  position: sticky;
  top: 0;
}/*# sourceMappingURL=style.css.map */