:root {
    --font-family: "Merriweather", sans-serif;
    --second-family: "PTSans", sans-serif;
}
#graf {
    color: #e99393;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font-family);
    padding: 5px;
    background-color: #f0f0f0;
    color: #000;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: auto;
}

.mb20 {
    margin-bottom: 20px;
}

.none {
    display: none;
}

.header,
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav .nav__list--css {
    justify-content: flex-start;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

ul li + li {
    padding-top: 10px;
}

.form {
    &__title {
        text-align: center;
    }
}
label {
    display: block;
    margin-bottom: 20px;
}
.btn {
    padding: 10px;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    // height: 30px;
    // padding: 5px;
}

hr {
    margin-bottom: 20px;
}

.forms {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__fieldset {
        & input,
        textarea {
            width: 100%;
        }
        & label {
            margin-bottom: 0;
        }
        padding: 15px;
    }
}
th {
    width: 130px;
}
td {
    padding: 5px;
}
.opisanie {
    width: 250px;
}

// задания CSS

.lesson-css__link {
    color: #8b0000;
}

#title {
    font-size: 36px;
    color: purple;
}

.lesson-css ul a {
    color: #228b22;
}

.lesson-css p a {
    color: #ff0000;
}

p {
    color: gray;
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
}

h1 {
    font-size: 36px;
    line-height: 1.8;
}

.paragraf {
    color: green;
}

// перехватываем стиль от body
// .lesson-css p {
//     color: #e210e2;
// }

.lesson-css a:hover {
    color: #add8e6;
    cursor: progress;
}

#title::before {
    content: "*";
}

input {
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

input:focus {
    // outline: 1px solid #ff0000;
    outline-color: transparent;
    border: 2px solid green;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #add8e6;
}

.button:active {
    background-color: #00008b;
    transform: scale(0.98);
    color: red;
}

.p-padding {
    display: inline-block;
    padding-left: 30px;
    padding-right: 55px;
}

.h1-padding {
    display: inline-block;

    background-color: #228b22;
    background-clip: content-box;
    border: 1px solid red;

    padding: 10px 30px 30px 55px;
    margin-bottom: 50px;
    text-align: center;

    text-shadow: 5px 6px 20px lightcoral;
}

.h1-padding + .p-padding {
    text-align: justify;
    text-transform: lowercase;
    text-shadow:
        1px 1px 2px #000,
        2px 2px 5px #555,
        3px 3px 7px #777;
}

.under {
    text-decoration: underline;
    text-shadow: 5px 9px 50px rgba($color: #10d119, $alpha: 0.5);
}

.lesson-css__link {
    display: block;
    border: 1px solid red;
    padding-left: 15px;
    padding-right: 50px;
    background-color: #6c8ff0;
    background-clip: content-box;
}

// наследование ширины
.block {
    width: 500px;
    border: 1px solid red;
}

.box {
    display: block;
    width: 100px;
    height: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.box1 {
    background-color: #10d119;
    width: 60%;
}
.box2 {
    background-color: #d15710;
    width: 50%;
}
.box3 {
    background-color: #6410d1;
    width: 40%;
}
.box4 {
    background-color: #d110d1;
    width: 30%;
}

// flex
.flex-boxes {
    display: flex;
    flex-wrap: wrap;
    // max-width: 1400px;
    border: 1px solid red;
    // padding: 5px;
}

.flex-center {
    height: 800px;
    // padding: 120px;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-wrap: nowrap;
    // width: unset;
}

.flex-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    // margin: 5px;
}

.flex-box1 {
    background-color: #6410d1;
}
.flex-box2 {
    background-color: #d16d10;
}
.flex-box3 {
    background-color: #10d120;
}
.flex-box4 {
    background-color: #d11040;
}
.flex-box5 {
    background-color: #1023d1;
}
.flex-box6 {
    background-color: #10cbd1;
}
.flex-box7 {
    background-color: #aed110;
}
.flex-box8 {
    background-color: #1084d1;
}

// grid
.grid-container {
    display: grid;
    grid-template-columns: [col]repeat(3, auto);
}

.grid-box {
    min-width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.grid-box1 {
    background-color: #6410d1;
    grid-column: span 3;
}
.grid-box2 {
    background-color: #d16d10;
    grid-column: col 1 / 3;
}
.grid-box3 {
    background-color: #10d120;
}
.grid-box4 {
    background-color: #d11040;
}
.grid-box5 {
    background-color: #1023d1;
}
.grid-box6 {
    background-color: #10cbd1;
}

// position

.positions {
    position: relative;
    border: 1px solid red;
    height: 750px;
}

.position-box {
    width: 160px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.position-box1 {
    background-color: #6410d1;
}
.position-box2 {
    background-color: #d16d10;
    position: relative;
    top: -25px;
    left: 50px;
}
.position-box3 {
    background-color: #10d120;
    position: absolute;
    top: 175px;
    left: 250px;
}
.position-box4 {
    background-color: #d11040;
    position: fixed;
    bottom: 0;
    right: 0;
}

.position-box5 {
    background-color: #9ed110;
    position: sticky;
    top: 0;
}

// z-index
.z-index-box1 {
    background-color: #6410d1;
    position: relative;
    z-index: 1;
}
.z-index-box2 {
    background-color: #d16d10;
    position: relative;
    top: -25px;
    left: 50px;
    z-index: 3;
}
.z-index-box3 {
    background-color: #10d120;
    position: relative;
    top: -275px;
    left: 130px;
    z-index: 2;
}

//  float
.poem {
    height: 600px;
}
.poem__text1 img {
    float: right;
    padding: 5px;
    margin: 5px;
}

.poem__img {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

// display
.display {
    // display: flex;
    // flex-direction: column;
}

.display-box {
    width: 100px;
    height: 100px;
    display: none;
}

.display-box1 {
    background-color: #6410d1;
    height: 50px;
    text-align: center;
}
.display-box2 {
    background-color: #d16d10;
    display: block;
}
.display-box3 {
    background-color: #10d120;
}

.display__hov:hover .display-box1,
.display__hov:hover .display-box3 {
    display: block;
}

// Списки
.list {
    list-style: circle;
    padding-left: 10px;
}

.list__img {
    list-style-image: url("/img/marker.png");
}

.list-num {
    margin-left: 10px;
}

// images
.images,
.videos {
    text-align: center;
}

.images img {
    border: 2px solid orange;
    box-shadow: 2px 3px 15px rgba($color: #000000, $alpha: 0.8);
}

// таблца
table,
th,
td {
    border: 1px solid red;
    border-collapse: collapse;
    color: #6c8ff0;
}

th {
    background-color: #10cbd1;
    color: #fff;
    padding: 15px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(228, 223, 223);
}

tfoot td {
    background-color: #228b22;
    color: #fff;
    text-align: center;
}

// forms
.forms-block {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    &__int {
        margin-bottom: 20px;
    }
    &__btn {
        margin-right: 15px;
    }
    &__btn {
        display: inline-block;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid orange;
        background-color: rgb(202, 202, 202);
        cursor: pointer;
        transition: all 0.2s ease-in;
    }
    &__btn:focus {
        outline: 1px solid green;
        outline-offset: 2px;
    }

    &__btn:active {
        transform: translate(1px, 1px);
    }
    &__check {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    input[type="checkbox"]:checked {
        accent-color: #1084d1;
    }
    &__label {
        display: flex;
    }
}

// фон
.background-container {
    display: flex;
    gap: 5px;
}

.background-block {
    width: 100px;
    height: 100px;
}

.background-block1 {
    border: 1px solid red;
}
.background-block2 {
    background-color: #1023d1;
    color: #fff;
}
.background-block3 {
    background-image: url("/img/img.webp");
    background-size: contain;
}

// еденицы измерения
.dimentions {
    height: 25vh;
    border: 1px solid red;
    font-size: 16px;
    padding: 3rem;
}

.dimentions h1 {
    font-size: 40px;
}

.dimentions-paragraf {
    font-size: 1.5em;
}

@media (max-width: 992px) {
    .dimentions {
        padding: 2rem;
    }
    .dimentions h1 {
        font-size: 32px;
    }
    .dimentions-paragraf {
        font-size: 1.25em;
    }
}

@media (max-width: 576px) {
    .dimentions {
        padding: 1rem;
    }
    .dimentions h1 {
        font-size: 26px;
    }
    .dimentions-paragraf {
        font-size: 1em;
    }
}

// adaptive site
.adaptive-header {
    width: 100%;
    min-height: 50px;
    background-color: #add8e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 100%;
    padding: 15px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.nav__list li {
    padding-top: unset;
}

.adaptive-main {
    background-color: #55555525;
    padding: 15px;
}

.adaptive-title {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.adaptive-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
}

.adaptive-block {
    width: 100px;
    height: 100px;
    background-color: #10cbd1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;
}

.adaptive-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 15px;

    background-color: #10d119;
}

.adaptive-footer p {
    color: #000;
}

@media (max-width: 768px) {
    .adaptive-title {
        font-size: 1.5rem;
        padding-bottom: 0.3em;
    }
    .adaptive-block {
        font-size: 2rem;
    }
    .adaptive-footer {
        flex-direction: column;
    }
    .adaptive-container {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .nav__list {
        flex-direction: column;
        gap: 5px;
    }
    .adaptive-title {
        text-align: center;
    }
}

@media (max-width: 360px) {
    .adaptive-block {
        width: 100%;
    }
    .adaptive-title {
        font-size: 1rem;
        padding-bottom: 0.2em;
    }
    .adaptive-block {
        font-size: 1rem;
    }
}

// transition
.transition-block {
    padding: 15px;
    color: #fff;
    width: 350px;
    height: 350px;
    background-color: #6410d1;
    transform: scale(1);
    transition:
        transform 0.5s ease-in,
        background-color 0.4s ease-in-out,
        color 0.4s ease-in-out;
}

.transition-block:hover {
    transform: scale(1.1);
    background-color: #460e8f69;
    color: #f1c3c3;
}

// animation
.animation-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
}

.animation-block {
    width: 100px;
    height: 100px;
    background-color: #1084d1;
    border-radius: 50%;
    transform: rotate(45deg) translate(100px, -100px);

    animation-name: round-block;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes round-block {  
    from {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.animation-container:hover .animation-block {
    animation-play-state: paused;

}